[Unit]
Description = Catalogue Service

[Service]
User={{app_user}}
Environment={{ lookup('aws_ssm', 'dev.catalogue.mongo', region='us-east-1') }}
Environment=MONGO_URL= "{{ lookup('aws_ssm', 'dev.catalogue.mongo_URL', region='us-east-1') }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target
