[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST={{ lookup('aws_ssm', 'dev.payment.cart_host', region='us-east-1' ) }}
Environment=CART_PORT={{ lookup('aws_ssm', 'dev.payment.cart_port', region='us-east-1' ) }}
Environment=USER_HOST={{ lookup('aws_ssm', 'dev.payment.user_host', region='us-east-1' ) }}
Environment=USER_PORT={{ lookup('aws_ssm', 'dev.payment.user_port', region='us-east-1' ) }}
Environment=AMQP_HOST={{ lookup('aws_ssm', 'dev.payment.AMQP_HOST', region='us-east-1' ) }}
Environment=AMQP_USER={{ lookup('aws_ssm', 'dev.payment.AMQP_USER', region='us-east-1' ) }}
Environment=AMQP_PASS={{ lookup('aws_ssm', 'dev.payment.AMQP_PASS', region='us-east-1' ) }}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target