[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT={{ lookup('aws_ssm', 'dev.shipping.CART_ENDPOINT', region='us-east-1') }}
Environment=DB_HOST={{ lookup('aws_ssm', 'dev.shipping.DB_HOST', region='us-east-1') }}
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target

